@model League_Of_Fools.Models.AccountModel

@{
    ViewData["Title"] = "AccountHome";
}

<h1>Account Home</h1>


<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            <h2>
                Welcome back 
                @Html.DisplayFor(model => model.Username)
            </h2>
        </dd>
        <dt class="col-sm-6">
            Followed Accounts:
        </dt>
        <dd class="col-sm-10">
        @foreach (var followed in Model.FollowedUsers)
        {
                <form asp-controller="Login" asp-action="AccountSearch">
                    <input name="gameName" value=@followed.GameName hidden/>
                    <input name="tagLine" value=@followed.TagLine hidden />
                    <input name="platformRoutingValue" value=@followed.PlatformRoutingValue hidden />
                    <input name="regionalRoutingValue" value=@followed.RegionalRoutingValue hidden />
                    <button type="submit" class="btn btn-primary">@followed.GameName</button>
                </form>
            <br />
        }
        </dd>
    </dl>
</div>
