html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #032C30;*/
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 5px;
    margin: 10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
}

.champ-title {
    margin-left: 20px;
    font-size: 25px;
    color: rgb(83, 83, 83);
}

.navbar {
    background-color: #0D2026;
}