:root {
    --primary: #0B3769;
    --secondary: #4DF6E1;
    --tertiary: #FAFCFF;
    --background: #020C17;
    --error: #FF5555;
    --warning: #FFF61A;
    --success: #0DFF34;
}

html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    padding-top: 16px;
    padding-bottom: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 5px;
    margin: 10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
}

.champ-title {
    margin-left: 20px;
    font-size: 25px;
    color: rgb(83, 83, 83);
}

.player-icon {
    width: 18%;
    height: 18%;
    border-radius: 8%;
}

.primary-btn {
    background-color: var(--primary);
    border-radius: 8px;
    border: none;
    padding: 8px 16px 8px 16px;
    color: var(--secondary);
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

    .primary-btn > a {
        color: var(--secondary);
        font-family: 'Segoe UI';
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
    }

a {
    text-decoration: none;
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 800;
    font-size: 40px;
    color: var(--tertiary);
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 24px;
    color: var(--tertiary);
    margin: 0px;
    padding: 0px;
}

h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 16px;
    color: var(--tertiary);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.secondary-text {
    color: var(--secondary);
}

p {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 16px;
    color: var(--tertiary);
}

card {
    background-color: rgba(11, 55, 105, 0.2);
    border-radius: 24px;
}

.navbar {
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding-left: 64px;
    padding-right: 64px;
}

.nav-items {
    display: flex;
    gap: 32px;
    align-items: center;
}

.hero {
    width: 100%;
    height: calc(100vh - 112px);
    background: url("/images/Hero_Background.jpg") center/cover no-repeat;
    padding: 64px;
    display: flex;
    align-items: center;
}

.hero-items {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items:flex-end;
}

.control-label {
    color: var(--tertiary);
    margin-bottom: 4px;
}

