@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to League of Fools</h1>
    <p>Learn more about Champions in League of Legends, and look up players in the game.</p>
</div>
