@model League_Of_Fools.Models.SummonerModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-items">
        <h1>Welcome to <span class="secondary-text">League of Fools</span></h1>
        <div></div>
        <div></div>
        <h2>Looking for a player?</h2>
        <form asp-action="ProssesSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="inputs">
                <div class="form-group">
                    <label asp-for="GameName" class="control-label">In-game Name</label>
                    <input asp-for="GameName" class="form-control" />
                    <span asp-validation-for="GameName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TagLine" class="control-label">Tagline</label>
                    <input asp-for="TagLine" class="form-control" />
                    <span asp-validation-for="TagLine" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="RegionalRoutingValue" class="control-label">Region</label>
                    <select asp-for="RegionalRoutingValue" class="form-control">
                        <option value="AMERICAS">AMERICAS</option>
                        <option value="ASIA">ASIA</option>
                        <option value="EUROPE">EUROPE</option>
                        <option value="SEA">SEA</option>
                    </select>
                    <span asp-validation-for="RegionalRoutingValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlatformRoutingValue" class="control-label">Platform</label>
                    <select asp-for="PlatformRoutingValue" class="form-control">
                        <option value="NA1">NA1</option>
                        <option value="BR1">BR1</option>
                        <option value="EUN1">EUN1</option>
                        <option value="EUW1">EUW1</option>
                        <option value="JP1">JP1</option>
                        <option value="KR">KR</option>
                        <option value="LA1">LA1</option>
                        <option value="LA2">LA2</option>
                        <option value="OC1">OC1</option>
                        <option value="TR1">TR1</option>
                        <option value="RU">RU</option>
                        <option value="PH2">PH2</option>
                        <option value="SG2">SG2</option>
                        <option value="TH2">TH2</option>
                        <option value="TW2">TW2</option>
                        <option value="VN2">VN2</option>
                    </select>
                    <span asp-validation-for="PlatformRoutingValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="primary-btn" />
                </div>
            </div>
        </form>
    </div>
</div>
