@model League_Of_Fools.Models.SummonerModel

<div>
    @*https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/5211.png*@
    <div class="champ-head">
        <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/@(Model.ProfileIconId).png" />
        <div>
            <h1 class="champ-name">@Model.Name</h1>
        </div>
    </div>
    <div class="top-champs">
        <h2>Top Played Champs</h2>
        @foreach (var champ in await Model.Champions)
        {
            <div class='card' style='width: 18rem;'>
                <h3>Here</h3>
            </div>
        }
    </div>
</div>
